<button class="btn btn-secondary" (click)="switchDisable()">{{ isDisabled ? 'Enable' : 'Disable'}}</button>
<button class="btn btn-secondary" (click)="patchValues()">Patch Values</button>
<form [formGroup]="group">
  <multi-select formControlName="first">
    @for (option of options; track option) {
    <option [ngValue]="option.value">{{ option.label }}</option>
    }
  </multi-select>
  <br />
  <button type="submit" [disabled]="!group.valid" (click)="formDisplay()" class="btn btn-primary">
    leggi form
  </button>
</form>
