button {
  max-width: 200px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button[active] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:host {
  position: relative;
  display: flex;
}

#dropdown {
  width: 100%;
  max-height: 120px;
  overflow-y: auto !important;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  position: absolute;
  top: 100%;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 1px;
    border-radius: 1vmin;
    background-color: gray;
  }
}

#dropdown[open] {
  display: block;
}
