{{ display() || placeholder() }}
<div #dropdown class="multi-select-dropdown-menu">
  @if (autocomplete.observed) {
  <label for="autocomplete-input" class="visually-hidden">Options Filter</label>
  <input
    name="autocomplete input"
    id="autocomplete-input"
    class="multi-select-autocomplete-input"
    [formControl]="autocompleteControl"
  />
  } @else {} @for (option of options(); track option.label; let first = $first;
  let index = $index) {
  <option
    class="multi-select-option"
    [tabindex]="first ? 0 : -1"
    [ariaSelected]="option.selected"
    [selected]="option.selected"
    [disabled]="option.disabled"
    (click)="onSelectOption($event, option)"
    (keydown.enter)="onSelectOption($event, option)"
  >
    {{ option.label }}
  </option>
  }
</div>
