.multi-select-dropdown-toggle {
  display: inline-block;

  padding: 5px 10px;
  flex: 1;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  border: 1px solid #bdbdbd;
  border-radius: 1vmin;

  &:not(:focus) {
    box-shadow: 0px 1px 3px 0px #858585;
  }
  background-color: #f2f2f2;

  &:focus,
  &:has(+ [open]),
  &:focus-visible {
    box-shadow: 0 0 3px 0.2rem #858585;
    outline: 0;
  }
}

:host {
  position: relative;
  display: flex;
  min-height: 30px;

  &.with-autocomplete {
    .multi-select-dropdown-toggle:has(+ [open]) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .multi-select-dropdown-menu {
      padding-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.multi-select-dropdown-menu {
  display: none;

  width: 100%;
  max-width: 100%;
  max-height: 120px;

  background-color: lightgrey;
  -webkit-box-shadow: 0px 7px 15px 1px #000000;
  box-shadow: 0px 7px 15px 1px #000000;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;
  top: 100%;

  padding: 1vmin 0;
  border-bottom-left-radius: 1vmin;
  border-bottom-right-radius: 1vmin;

  &::-webkit-scrollbar {
    width: 5px;

    background-color: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  &[open] {
    display: block;
  }
}

.multi-select-dropdown-item {
  display: flex;
  justify-content: stretch;
  width: 100%;

  cursor: pointer;

  padding: 5px 10px;

  &:focus,
  &:focus-visible,
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 0;
  }
}

.multi-select-option-checkbox,
.multi-select-option {
  pointer-events: none;
}

.multi-select-option-checkbox {
  margin-right: 20px;
}
.multi-select-option {
  width: 100%;
}

.multi-select-autocomplete-input {
  position: sticky;
  top: 0;
  border: unset;
  &:focus,
  &:focus-visible,
  &:hover {
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0;
  }
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
