<button
  #dropdown_toggler
  class="multi-select-dropdown-toggle"
  type="button"
  [disabled]="isDisabled()"
  (click)="dorpdown($event)"
>
  {{ display() || placeholder() }}
</button>
<div #dropdown class="multi-select-dropdown-menu">
  @if (autocomplete.observed) {
  <label for="autocomplete-input" class="visually-hidden">Options Filter</label>
  <input
    name="autocomplete input"
    id="autocomplete-input"
    [formControl]="autocompleteControl"
    class="multi-select-autocomplete-input"
  />
  } @else {} @for (option of options(); track option; let first = $first; let
  index = $index) {
  <a
    [tabindex]="first ? 0 : -1"
    class="multi-select-dropdown-item"
    [attr.disabled]="option.disabled"
    (click)="onSelectOption(option)"
    (keydown.enter)="onSelectOption(option)"
  >
    <label
      option
      [selected]="option.selected"
      [disabled]="option.disabled"
      class="multi-select-option"
    >
      <input
        tabindex="-1"
        type="checkbox"
        [disabled]="option.disabled"
        class="multi-select-option-checkbox"
        [checked]="option.selected"
        [name]="option.label"
      />
      {{ option.label }}
    </label>
  </a>
  }
</div>
