*, *::after, *::before {
    margin:0;
    padding:0;
}

html, body {
    min-width: 100dvw;
    min-height: 100dvh;
    max-height: 100dvh;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray !important;
}